.name {
  font-size: 30px;
  text-align: center;
  color: #804e44;
  font-family: "Joystix", sans-serif;
}

.price {
  font-size: 24px;
  text-align: center;
  color: #503d4f;
  font-family: "Joystix", sans-serif;
}

.img {
  text-align: center;
}

img {
  width: 200px;
}

.description {
  font-family: "Joystix", sans-serif;
  font-size: 18px;
  padding: 0 35px;
  color: #02524c;
}

.button {
  margin-top: 20px;
  text-align: center;
}

.title {
  text-align: center;
  color: #942b74;
}

.titleNew {
  text-align: center;
  color: #942b74;
  font-size: 40px;
}

.description {
  text-align: center;
}

.mainWord {
  text-align: center;
  font-size: 28px;
  font-family: "Joystix", sans-serif;
  color: #804e44;
}

.circular {
  text-align: center;
}

.added {
  font-family: "Joystix", sans-serif;
  color: #53258d;
  background-color: #afb26d;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  margin: 0 600px 15px;
}

.pic {
  width: 32px;
  text-align: center;
  margin-right: 20px;
}
