.name {
  font-size: 30px;
  text-align: center;
  color: #804e44;
  font-family: 'Joystix', sans-serif;
}

.price {
  font-size: 24px;
  text-align: center;
  color: #503d4f;
  font-family: 'Joystix', sans-serif;
}

.img {
  text-align: center;
}

img {
  width: 200px;
}

.description {
  font-family: 'Joystix', sans-serif;
  font-size: 18px;
  padding: 0 35px;
  color: #02524c;
}

.button {
  margin-top: 20px;
  text-align: center;
}

.title {
  text-align: center;
  color: #942b74;
}

.description {
  text-align: center;
}

.mainWord {
  text-align: center;
  font-size: 28px;
  font-family: 'Joystix', sans-serif;
  color: #804e44;
}

.circular {
  text-align: center
}