.wrapper {
  background-image: url("../../../../static/images/login-page.png");
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
  overflow-x: hidden;
}

.title {
  font-family: "Joystix", sans-serif;
  font-size: 30px;
  color: #9f8139;
  text-align: center;
}

.error {
  font-family: "Joystix", sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
  color: #dc2c4e;
  text-align: center;
}

.input {
  font-family: "Joystix", sans-serif;
  font-size: 16px;
  color: #9f8139;
}

.text {
  font-family: "Joystix", sans-serif;
  font-size: 16px;
  color: #9f8139;
  margin: 15px 0px;
}

.login {
  text-align: center;
}

.link {
  text-decoration: none;
}
