.info {
  font-family: 'Joystix', sans-serif;
  font-size: 14px;
  color: #4f324b;
  margin: 15px 0px;
  text-align: center;
}

.title {
  color: #943e34;
  font-size: 40px;
}

.title {
  color: #bec061;
  font-size: 30px;
}

.prevOrder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.order {
  border: 3px solid #604343;
  margin: 0 40px 30px;
  padding-bottom: 10px;
}

.totalPrice {
  text-align: center;
  font-size: 20px;
  font-family: 'Joystix', sans-serif;
  color: #ffae00;
}

.quantity {
  font-size: 16px;
  text-align: center;
  color: #503d4f;
  font-family: 'Joystix', sans-serif;
}

.image {
  text-align: center;
}

.name {
  font-size: 22px;
  text-align: center;
  color: #943e34;
  font-family: 'Joystix', sans-serif;
}

.card {
  display: flex;
  margin: 10px;
  overflow-y: auto;
  flex-wrap: wrap;
  max-width: 95vw;
  justify-content: center;
  background-color: #70917BFF
}

.accordion {
  margin: 0 300px 15px;
}

.typography {
  margin: 0 50px;
}
