.title {
  font-family: "Joystix", sans-serif;
  font-size: 30px;
  color: #53258d;
  text-align: center;
}

.link {
  text-decoration: none;
}

.text {
  font-family: "Joystix", sans-serif;
  font-size: 14px;
  color: #53258d;
  margin: 15px 0px;
}

.registration {
  text-align: center;
}

.input {
  font-family: "Joystix", sans-serif;
  font-size: 16px;
  color: #53258d;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.successCreate {
  text-align: center;
  color: #295736;
  font-family: "Joystix", sans-serif;
  font-size: 16px;
}

.error {
  font-family: "Joystix", sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
  color: #dc2c4e;
  text-align: center;
}
